<%- include("../includes/head.ejs") %>

    <link rel="stylesheet" type="text/css" href="/css/alumni.css">
</head>

<body>
    <%- include("../includes/navigation.ejs") %>

    <%- include("../includes/inner-scroll-start.ejs") %>

    <main class="main-container">
        <div class="row">
            <div class="col-md-4">
                <div class="contacts-box" >
                    <h5 class="mt-2">Contact</h5>
                    <input class="form-control form-control-sm" type="text" placeholder="Search" name="searchContact" style="width: 90%; max-width: 250px;"/>
                    <div class="contacts-box__contacts mt-3">
                        <% for (let connection of connections) { %>
                            <div onclick="getChatRoom('<%= connection.connectionId._id %>', '<%= connection.connectionId.firstName %> <%= connection.connectionId.lastName %>')" class="contacts-box__contact p-2">
                                <img class="mr-3" src="<%= connection.connectionId.profileUrl === '' ? '/img/avatar.jpg' : connection.connectionId.profileUrl %>"/>
                                <div>
                                    <h6>
                                        <%= connection.connectionId.firstName %>&nbsp;<%= connection.connectionId.lastName %>
                                    </h6>
                                    <p>The Message</p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="messages-box px-3 pb-3">
                    <h5 id="chat-header" class="text-center mt-2">Header</h5>
                    <div id="chat-messages" class="message-interaction my-2 pr-3">
                    </div>
                    <textarea id="chatBox" class="form-control"></textarea>
                    <input id="chatRoomId" name="chatRoomId" type="hidden"/>
                    <input id="messagesCsrf" type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                </div>
            </div>
        </div>
    </main>

    <%- include("../includes/inner-scroll-end.ejs") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        //! SOCKET INIT
        const socket = io.connect();

        // NMTC = New Message To Client
        socket.on("NMTC", message => {
            if ($("#chatRoomId").val() === message.chatRoomId) {
                $("#chat-messages").append(
                    `<p><span>${message.user}:&nbsp;</span>${message.message}</p>`
                );
            }
        });
    </script>
    
    <script src="/js/alumni.js"></script>

<%- include("../includes/end.ejs") %>