<%- include("../includes/head.ejs") %>

</head>

<body>
    <%- include("../includes/navigation.ejs") %>

    <%- include("../includes/inner-scroll-start.ejs") %>

    <main class="main-container">
        <h1 class="main-header">Messages</h1>
    </main>

    <%- include("../includes/inner-scroll-end.ejs") %>

<%- include("../includes/end.ejs") %>