<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <%- include("../includes/inner-scroll-start.ejs") %>
 
     <main class="main-container">
        <h1 class="main-header">Update Password</h1>
         <form class="auth-container mt-3" action="/new-password" method="POST">
             <div class="form-group">
                 <label for="password">Password</label>
                 <input class="form-control" type="password" name="password" id="password">
             </div>
             <input type="hidden" name="userId" value="<%= userId %>" />
             <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
             <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
             <button class="btn btn-core mt-2" type="submit">Update</button>
             <% if (errorMessage) { %>
                <div class="alert alert-danger mt-3" role="alert">
                    <%= errorMessage %>
                </div>
             <% } %>
        </form>
     </main>
     
    <%- include("../includes/inner-scroll-end.ejs") %>

 <%- include('../includes/end.ejs') %>