<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>

<body>
    <%- include("../includes/navigation.ejs") %>

    <%- include("../includes/inner-scroll-start.ejs") %>

    <main class="main-container">
        <h1 class="main-header">Alumni Management</h1>
        <div class="row mt-3">
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="number" class="form-control" id="classYear" placeholder="Class Of">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <select class="form-control" id="major">
                    <option value="">Select Major</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Business">Business</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <div class="input-group">
                    <div class="input-group-append" style="flex:1;">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button onclick="searchAlumni(this);" type="button" class="btn btn-core" style="width:75%;">Search</button>
                        <button id="searchButton" type="button" style="width:25%;" class="btn btn-core dropdown-toggle-split" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                        +
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row collapse" id="filterCollapse">
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="address1" placeholder="Address 1">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="address2" placeholder="Address 2">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="state" placeholder="State">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="number" class="form-control" id="zip" placeholder="ZIP">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="company" placeholder="Company">
            </div>
            <div class="col-md-2 col-sm-4 my-2">
                <input type="text" class="form-control" id="occupation" placeholder="Occupation">
            </div>
        </div>
        <div id="search-table-area" class="row mt-4">
            <table class="table">
                <thead id="alumni-table-header">
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Major</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Company</th>
                    </tr>
                </thead>
                <tbody id="alumni-payload">
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Alumni Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6>First: <span id="firstNameModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Last: <span id="lastNameModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Email: <span id="emailModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Phone: <span id="phoneModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Address Main: <span id="addressMainModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Address Secondary: <span id="addressSecondaryModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>City: <span id="cityModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>State: <span id="stateModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>ZIP: <span id="zipModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Class Year: <span id="classYearModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Major: <span id="majorModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Occupation: <span id="occupationModal" class="text-muted"></span></h6>
                            </div>
                            <div class="col-sm-6">
                                <h6>Company: <span id="companyModal" class="text-muted"></span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-core" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-core">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("../includes/inner-scroll-end.ejs") %>

    <script src="/js/admin.js"></script>

<%- include("../includes/end.ejs") %>