<%- include("../includes/head.ejs") %>

</head>

<body>
    <%- include("../includes/navigation.ejs") %>
    
    <%- include("../includes/inner-scroll-start.ejs") %>

    <main class="error-container">
        <!-- <h1 style="flex-basis: 100%;" class="main-header">Donate</h1> -->
        <h3 class="text-center">This is where the custom donate page would be</h3>
    </main>

    <%- include("../includes/inner-scroll-end.ejs") %>

<%- include("../includes/end.ejs") %>