<nav class="navbar">
	<a href="http://cairn.edu" class="navbar__logo">
		<img src="/img/CairnLogoWhiteTrim.png" />
	</a>
	<ul class="navbar__menu">
		<li>
			<a class="<%= path === '/' ? 'navbar__active' : '' %>" href="/"
				>Home
			</a>
		</li>
		<% if (userType === "alumni") { %>
		<li class="dropdown">
			<a class="<%= path === '/me' ? 'navbar__active' : '' %>" href="#"
				>Me
			</a>
			<div class="dropdown-content">
				<a href="/me">Home</a>
				<a href="/messages">Messages</a>
				<a href="/update-info">Update</a>
				<a href="/reports">Reports</a>
			</div>
		</li>
		<li class="dropdown">
			<a
				class="<%= path === '/events' ? 'navbar__active' : '' %>"
				href="#"
				>Events
			</a>
			<div class="dropdown-content">
				<a href="/events">Home</a>
				<a href="/request-event">Request</a>
				<a href="/requested-events">Requested</a>
			</div>
		</li>
		<li>
			<a
				class="<%= path === '/connect' ? 'navbar__active' : '' %>"
				href="/connect"
				>Connect
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/donate' ? 'navbar__active' : '' %>"
				href="https://cairn.edu/give/online/"
				>Donate
			</a>
		</li>
		<% } else if (userType === "admin") { %>
		<li class="dropdown">
			<a
				class="<%= path === '/donate' ? 'navbar__active' : '' %>"
				href="#"
				>Donate
			</a>
			<div class="dropdown-content">
				<a href="donate">Home</a>
				<a href="admin/donate-metrics">See Metrics</a>
			</div>
		</li>
		<li class="dropdown">
			<a
				class="<%= path === '/events' ? 'navbar__active' : '' %>"
				href="#"
				>Events
			</a>
			<div class="dropdown-content">
				<a href="/events">Home</a>
				<a href="/admin/add-event">Add Event</a>
				<a href="/admin/event-approval">Requested</a>
			</div>
		</li>
		<li class="dropdown">
			<a
				class="<%= path === '/admin/alumni/management' ? 'navbar__active' : '' %>"
				href="#"
				>Alumni
			</a>
			<div class="dropdown-content">
				<a href="#">Home</a>
				<a href="/admin/master-search">Master Search</a>
				<a href="/admin/add-news">Add News</a>
			</div>
		</li>
		<li class="dropdown">
			<a
				class="<%= path === '/admin/alumni/management' ? 'navbar__active' : '' %>"
				href="#"
				>Management
			</a>
			<div class="dropdown-content">
				<a href="#">Home</a>
				<a href="/admin/site-config">Site Config</a>
			</div>
		</li>
		<% } else if (userType === "student") { %>
		<li class="dropdown">
			<a class="<%= path === '/me' ? 'navbar__active' : '' %>" href="/#"
				>Me
			</a>
			<div class="dropdown-content">
				<a href="#">Home</a>
				<a href="#">Messages</a>
			</div>
		</li>
		<li>
			<a
				class="<%= path === '/events' ? 'navbar__active' : '' %>"
				href="/events"
				>Events
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/connect' ? 'navbar__active' : '' %>"
				href="/connect"
				>Connect
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/donate' ? 'navbar__active' : '' %>"
				href="https://cairn.edu/give/online/"
				target="_blank"
				>Donate
			</a>
		</li>
		<% } else { %>
		<li>
			<a
				class="<%= path === '/events' ? 'navbar__active' : '' %>"
				href="/events"
				>Events
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/donate' ? 'navbar__active' : '' %>"
				href="https://cairn.edu/give/online/"
				target="_blank"
				>Donate
			</a>
		</li>
		<% } %> <% if (!isAuthenticated) { %>
		<li>
			<a
				class="<%= path === '/login' ? 'navbar__active' : '' %>"
				href="/login"
				>Login
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/signup' ? 'navbar__active' : '' %>"
				href="/signup"
				>Signup
			</a>
		</li>
		<% } else { %>
		<li>
			<form action="/logout" method="post">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
				<button class="btn--logout" type="submit">Logout</button>
			</form>
		</li>
		<% } %>
	</ul>
</nav>
