<nav class="navbar">
	<a href="http://cairn.edu" class="navbar__logo">
		C.U Connect
		<!-- <img src="https://s3.amazonaws.com/freecodecamp/freecodecamp_logo.svg" alt="freeCodeCamp logo"> -->
	</a>
	<ul class="navbar__menu">
		<li>
			<a class="<%= path === '/' ? 'navbar__active' : '' %>" href="#"
				>Home
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/events' ? 'navbar__active' : '' %>"
				href="#"
				>Events
			</a>
		</li>
		<li>
			<a
				class="<%= path === '/donate' ? 'navbar__active' : '' %>"
				href="#"
				>Donate
			</a>
		</li>
		<li>
			<a class="<%= path === '/login' ? 'navbar__active' : '' %>" href="#"
				>Login
			</a>
		</li>
		<!--
		<li>
			<a class="<%= path === '/signup' ? 'active' : '' %>" href="#"
				>Signup
			</a>
		</li>
        <li class="item button secondary"><a href="#">Sign Up</a></li>
		<li class="toggle"
			><a href="#"><i class="fa fa-bars"></i></a
        ></li> 
        -->
	</ul>
</nav>
